/* MEDIA QUERIES */

/* Extra Small Devices, Phones */
@media only screen and (min-width : 0px) and (max-width : 767px) {

  /* navbar laterale */

  main #navbar-aside {
    width: 50px;
  }

  main #navbar-logo,
  main #navbar-aside-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main #navbar-aside-main ul li a {
    padding: 10px;
  }

  main #navbar-aside-main ul li a i {
    padding: 0;
  }

  #navbar-logo h1,
  #navbar-aside-main span,
  #playlist,
  #navbar-aside-down .text-navbar-down {
    display: none;
  }

  #navbar-aside-down .download-app {
    border: none;
  }

  /* main content */

  /* navbar  */

  main #content {
    width: calc(100% - 50px);
  }

  main #content-main .navbar-content nav {
    width: 100%;
  }

  /* albums */


  #content-main .albums .single-album {
    width: calc((100% / 2) - 20px);
  }

  #content-main .albums .single-album ul li h3 {
    font-size: 14px;
  }

  #content-main .albums .single-album ul li span {
    font-size: 12px;
  }

  /* footer */

  footer {
    padding: 10px;
  }

  footer #track,
  footer #volume {
    width: calc(55% / 2);
  }

  footer #player {
    width: 45%;
  }

  footer #track .track-right {
    display: flex;
    flex-direction: column;
  }

  footer #track .track-left {
    width: 90%;
  }

  footer #track .track-left img {
    width: 40px;
  }

  footer #track .track-left .track-title h5 a {
    font-size: 10px;
    color: white;
  }

  footer #track .track-left .track-title a {
    color: #797b80;
    font-size: 8px;
  }

  footer #track .track-right i {
    font-size: 10px;
    color: #797b80;
  }

  footer #player .player-controls {
    width: 80%;
  }

  footer #player .player-controls i {
    font-size: 10px;
  }

  footer #player .player-controls .fa-play-circle {
    font-size: 20px;
    transition: all 0.3s;
  }

  footer #player .player-length span {
    width: 20%;
    font-size: 10px;
  }

  footer #player .player-length {
    width: 80%;
  }

  footer #player .player-length .player-length.bar {
    width: 60%;
  }

  footer #volume .volume-icons i {
    font-size: 10px;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  /* main content */

  main #content-main .navbar-content nav {
    width: 90%;
  }

  /* albums */

  #content-main .albums .single-album {
    width: 150px;
  }

  /* footer */

  footer #track,
  footer #volume {
    width: 30%;
  }

  footer #player {
    width: 40%;
  }

  footer #track .track-left {
    width: 80%;
  }

  footer #player .player-controls {
    width: 70%;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

  /* main content */

  main #content-main .navbar-content nav {
    width: 90%;
  }

  /* albums */

  #content-main .albums .single-album {
    width: 200px;
  }

  /* footer */

  footer #track,
  footer #volume {
    width: 25%;
  }

  footer #player {
    width: 40%;
  }

  footer #track .track-left {
    width: 70%;
  }

  footer #player .player-controls {
    width: 60%;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

  /* main content */

  main #content-main .navbar-content nav {
    width: 70%;
  }

  #content-main .albums .single-album {
    width: calc(100% / 7);
  }

  footer #track,
  footer #volume {
    width: 20%;
  }

  footer #player {
    width: 40%;
  }

  footer #track .track-left {
    width: 150px;
  }

}
