* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* REGOLE GENERALI */

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

/* WRAPPER */

#wrapper {
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
  height: 100vh;
  background-color: black;
}

/* MAIN */

main {
  height: calc(100% - 80px);
  background-color: #141922;
  display: flex;
  z-index: 850;
  overflow: hidden;
}

/* SEZIONE NAVBAR LATERALE */

main #navbar-aside {
  height: 100%;
  width: 200px;
  background-color: black;
  overflow: hidden;
}

/* logo navbar */

#navbar-logo {
  padding: 20px;
  height: 80px;
}

#navbar-logo a {
  display: flex;
}

#navbar-logo h1 {
  font-weight: 500;
}

#navbar-logo .fa-spotify {
  font-size: 30px;
  padding-right: 5px;
}

/* sottosezione navbar superiore */

#navbar-aside-up {
  width: 100%;
  height: calc(100% - 160px);
  overflow: hidden;
}

#navbar-aside-up ul li a {
  display: flex;
  align-items: center;
  color: #797b80;
  padding: 10px 20px;
}

#navbar-aside-up ul li a:hover {
  border-left: 2px solid #adff2f;
  color: white;
}

#navbar-aside-up ul li a span {
  font-size: 16px;
  font-weight: 600px;
}

#navbar-aside-up ul li a i {
  font-size: 25px;
  padding-right: 10px;
}

/* navbar di navigazione principale home, cerca, la tua libreria */

#navbar-aside-main {
  overflow: hidden;
}

/* navbar playlist */

#playlist ul {
  height: 300px;
  overflow: auto;
}

#playlist > a {
  padding: 20px;
  color: #797b80;
}

#playlist > a:hover {
  color: white;
}

#playlist > a i {
  font-size: 30px;
  padding-right: 10px;
}

#playlist h3 {
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 16px;
}

#playlist .playlist-name {
  padding: 10px 20px;
  font-size: 14px;
  color: #797b80;
}

#playlist .playlist-name:hover {
  color: white;
}

/* sottosezione navbar inferiore */

#navbar-aside-down {
  width: 100%;
  height: 80px;
  z-index: 950;
}

#navbar-aside-down a {
  display: flex;
  align-items: center;
}

#navbar-aside-down i {
  padding-right: 10px;
}

#navbar-aside-down .download-app {
  color: #797b80;
  margin: 0 20px;
  padding: 10px 0;
  border-bottom: 1px solid #797b80;
}

#navbar-aside-down .download-app:hover {
  color: white;
}

#navbar-aside-down .user-profile {
  color: white;
  padding: 10px 20px;
}

/* SEZIONE CONTENT */

main #content {
  height: 100%;
  width: calc(100% - 200px);
}

/* sottosezione upgrade */

#upgrade {
  height: 80px;
  background-color: #080b12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#upgrade .upgrade-button {
  color: white;
  font-size: 12px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-right: 20px;
  transition: all 0.3s;
  letter-spacing: 0.1em;
}

#upgrade .upgrade-button:hover {
  transform: scale(1.1);
}

/* sottosezione content-main */

#content-main {
  height: calc(100% - 80px);
  padding: 0 30px;
  overflow: auto;
}

/* navbar */

#content-main .navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-main .navbar-content nav {
  width: 40%;
}

#content-main .navbar-content nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

#content-main .navbar-content nav ul{
  padding: 30px 0;
}

#content-main .navbar-content nav ul li a {
  padding: 20px 0;
  text-transform: uppercase;
  color: #797b80;
  font-weight: 600;
}

#content-main .navbar-content nav ul li a:hover {
  border-bottom: 2px solid #adff2f;
  color: white;
}

/* SEZIONE ALBUMS */

/* regole generali degli albums*/

#content-main h2 {
  margin-bottom: 20px;
}

#content-main p {
  color: #797b80;
  margin-bottom: 20px;
}

#content-main .albums {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

#content-main .albums .single-album {
  width: calc(100% / 7);
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}


#content-main .albums .single-album ul li .img-album {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

#content-main .albums .single-album ul li h3 {
  font-size: 16px;
  text-align: center;
}

#content-main .albums .single-album ul li span {
  text-align: center;

}

#content-main .albums .single-album ul li .img-album .img-album-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#content-main .albums .single-album ul li .img-album .img-album-hover i {
  font-size: 50px;
  color: #797b80;
}

#content-main .albums .single-album ul li .img-album .img-album-hover i:hover {
  color: white;
}

#content-main .albums .single-album ul li .img-album:hover .img-album-hover {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-main .albums .single-album ul {
  width: 100%;
}

#content-main .albums .single-album li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content-main .albums .single-album li span {
  color: #797b80;
}

#content-main .albums .single-album li > * {
  margin-bottom: 10px;
}

/* regole specifiche degli album */

#content-main .albums .single-album ul li .img-album.heavy-metal {
  background-image: url(../img/metal_lifting.jpg);
}

#content-main .albums .single-album ul li .img-album.stranger {
  background-image: url(../img/stranger.jpeg);
}

#content-main .albums .single-album ul li .img-album.quiet {
  background-image: url(../img/aquietplace.jpeg);
}

#content-main .albums .single-album ul li .img-album.split {
  background-image: url(../img/split.jpeg);
}

#content-main .albums .single-album ul li .img-album.cure {
  background-image: url(../img/cure.jpeg);
}

#content-main .albums .single-album ul li .img-album.sinister {
  background-image: url(../img/sinister.jpeg);
}

#content-main .albums .single-album ul li .img-album.release {
  background-image: url(../img/radar.jpeg);
}

#content-main .albums .single-album ul li .img-album.daily-1 {
  background-image: url(../img/mixdaily.jpeg);
}

#content-main .albums .single-album ul li .img-album.lana {
  background-image: url(../img/youg.jpeg);
}

#content-main .albums .single-album ul li .img-album.einaudi {
  background-image: url(../img/einaudi.jpeg);
}

#content-main #artisti-popolari .albums .single-album ul li .img-album,
#content-main #artisti-popolari .albums .single-album ul li .img-album .img-album-hover {
  border-radius: 50%;
}

/* FOOTER */

footer {
  height: 80px;
  background-color: #282828;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* SEZIONE DI SINISTRA CON IL TITOLO E LA FOTO */

#track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

/* regole generali */

#track .track-left,
#track .track-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* foto album e titolo canzone */

#track .track-left {
  width: 150px;
}

#track .track-right {
  width: 50px;
}


#track .track-left img {
  width: 50px;
}

#track .track-left h5 {
  font-size: 18px;
  color: white;
}

#track .track-left span {
  color: #797b80;
  font-size: 14px;
}

/* icone cuore e cartella */

#track .track-right i {
  font-size: 18px;
  color: #797b80;
}

#track .track-right i:hover {
  color: white;
}

/* SEZIONE CENTRALE CON IL PLAYER */

#player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

/* controlli di traccia in alto */

#player .player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 40%;
  margin-bottom: 5px;
}

#player .player-controls i {
  font-size: 15px;
}

#player .player-controls .fa-play-circle {
  font-size: 30px;
  transition: all 0.3s;
}

#player .player-controls .fa-play-circle:hover {
  transform: scale(1.2);
}

/* barra di controllo traccia */

#player .player-length {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 80%;
}

#player .player-length span {
  width: 10%;
  font-size: 12px;
}

#player .player-length .total-length {
  text-align: right;
}

#player .player-length .player-length-bar {
  width: 80%;
  height: 5px;
  background-color: #797b80;
  border-radius: 10px;
}

#player .player-length .player-length-bar .current-time-bar {
  width: 30%;
  height: 100%;
  background-color: #c1c1c1;
  border-radius: 10px;
}

#player .player-length .player-length-bar:hover .current-time-bar {
  background-color: #b9f455;
}

/* SEZIONE DI DESTRA CON IL VOLUME */

#volume {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* icone a sinistra */

#volume .volume-icons {
  width: 10%;
}

#volume .volume-icons i {
  color: white;
}

/* barra di controllo volume a destra */

#volume .volume-control-bar {
  width: 50%;
  height: 5px;
  background-color: #797b80;
  border-radius: 10px;
}

#volume .volume-control-bar .current-volume {
  width: 30%;
  height: 100%;
  background-color: #c1c1c1;
  border-radius: 10px;
}

#volume .volume-control-bar:hover .current-volume {
  background-color: #b9f455;
}




/* MEDIA QUERIES */

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
