* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* REGOLE GENERALI */

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

/* WRAPPER */

#wrapper {
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
  height: 100vh;
  background-color: black;
}

/* MAIN */

main {
  height: calc(100% - 80px);
  background-color: #141922;
  display: flex;
  z-index: 850;
  overflow: hidden;
}

/* sezione navbar aside */

main #navbar-aside {
  height: 100%;
  width: 200px;
  background-color: black;
  overflow: hidden;
}

/* sottosezione navbar superiore */

main #navbar-aside #navbar-aside-up {
  width: 100%;
  height: calc(100% - 160px);
  overflow: hidden;
}

main #navbar-aside #navbar-aside-up ul li a {
  display: flex;
  align-items: center;
  color: #797b80;
  padding: 10px 20px;
}

main #navbar-aside #navbar-aside-up ul li a:hover {
  border-left: 2px solid #adff2f;
  color: white;
}

main #navbar-aside #navbar-aside-up ul li a span {
  font-size: 16px;
  font-weight: 600px;
}

main #navbar-aside #navbar-aside-up ul li a i {
  font-size: 25px;
  padding-right: 10px;
}

/* logo navbar */

#navbar-logo {
  padding: 20px;
  height: 80px;
}

#navbar-logo a {
  display: flex;
}

#navbar-logo h1 {
  font-weight: 500;
}

#navbar-logo .fa-spotify {
  font-size: 30px;
  padding-right: 5px;
}

/* navbar home, cerca, la tua libreria */

#navbar-aside-main {
  overflow: hidden;
}

/* navbar playlist */

#playlist ul {
  height: 300px;
  overflow: auto;
}

#playlist > a {
  padding: 20px;
  color: #797b80;
}

#playlist > a:hover {
  color: white;
}

#playlist > a i {
  font-size: 30px;
  padding-right: 10px;
}

#playlist h3 {
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 16px;
}

#playlist .playlist-name {
  padding: 10px 20px;
  font-size: 14px;
  color: #797b80;
}

#playlist .playlist-name:hover {
  color: white;
}

/* sottosezione navbar inferiore */

main #navbar-aside #navbar-aside-down {
  width: 100%;
  height: 80px;
  z-index: 950;
}

main #navbar-aside #navbar-aside-down a {
  display: flex;
  align-items: center;
}

main #navbar-aside #navbar-aside-down i {
  padding-right: 10px;
}

main #navbar-aside #navbar-aside-down .download-app {
  color: #797b80;
  margin: 0 20px;
  padding: 10px 0;
  border-bottom: 1px solid #797b80;
}

main #navbar-aside #navbar-aside-down .download-app:hover {
  color: white;
}

main #navbar-aside #navbar-aside-down .user-profile {
  color: white;
  padding: 10px 20px;
}

/* sezione content */

main #content {
  height: 100%;
  width: calc(100% - 200px);
}

/* sottosezione upgrade */

main #content #upgrade {
  height: 80px;
  background-color: #080b12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main #content #upgrade .upgrade-button {
  color: white;
  font-size: 12px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-right: 20px;
  transition: all 0.3s;
  letter-spacing: 0.1em;
}

main #content #upgrade .upgrade-button:hover {
  transform: scale(1.1);
}

/* sottosezione content-main */

main #content #content-main {
  height: calc(100% - 80px);
}

/* navbar */
main #content #content-main .navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #content #content-main .navbar-content nav {
  width: 40%;
}

main #content #content-main .navbar-content nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

main #content #content-main .navbar-content nav ul{
  padding: 30px 0;
}

main #content #content-main .navbar-content nav ul li a {
  padding: 20px 0;
  text-transform: uppercase;
  color: #797b80;
  font-weight: 600;
}

main #content #content-main .navbar-content nav ul li a:hover {
  border-bottom: 2px solid #adff2f;
  color: white;
}

/* sezione recently played */



/* FOOTER */

footer {
  height: 80px;
  background-color: #282828;
  z-index: 900;
}








/* MEDIA QUERIES */

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
